<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compati|ble" content="IE=edge">
    <title>Cards</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/index.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <!-- elemento 1.1 -->
            <div class="col-xl-6">
                <div class="card text-center my-3 shadow p-3 rounded">
                    <h1 class="card-header text-bg-primary mb-3 ">HOLA</h1>
                    <div class="card-body">
                        <p class="card-title">Mollit officia do voluptate ex esse.</p>
                        <p class="card-text">Dolore sit nisi esse aliqua eiusmod aliqua. Occaecat sunt voluptate quis ea esse ad
                            exercitation proident amet fugiat culpa aliqua consequat fugiat. Cupidatat deserunt do exercitation
                            ipsum sunt exercitation eu. Ex amet aliquip duis irure veniam laborum cillum dolor ullamco consequat
                            mollit dolor. Do nostrud do ad commodo minim adipisicing velit culpa. Magna cillum laboris eiusmod nisi
                            aliquip aute consequat est aliquip cillum minim.</p>
                        <a class="btn btn-primary" href="./index.html">Regresar</a>
                    </div>
                </div>
            </div>
            <!-- elemento 1.2 -->
            <div class="col-xl-6">
                <div class="card text-center my-3 shadow p-3">
                    <h1 class="card-header text-bg-primary mb-3 ">HOla 2</h1>
                    <div class="card-body">
                        <p class="card-title">Mollit officia do voluptate ex esse.</p>
                        <p class="card-text">Voluptate esse officia tempor laboris. Laborum deserunt exercitation et ullamco elit do sit duis in. Ex cupidatat ad cupidatat aute exercitation minim 
                                                tempor eiusmod laborum commodo magna. Laboris incididunt est id culpa ea. Anim deserunt reprehenderit amet fugiat ut consequat non non eu sunt occaecat 
                                                sint nulla. Minim labore anim magna dolore. Ea irure anim sit veniam ad. Incididunt deserunt do deserunt laborum dolore sint duis aute proident nisi 
                                                cupidatat exercitation. Elit officia laboris id eu culpa aute sit laborum.</p>
                        <button class="btn btn-primary">boton</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3">
                    <div class="card text-center my-3 shadow p-3">
                        <h1 class="card-header text-bg-danger mb-3 ">HOla 3</h1>
                        <div class="card-body">
                            <p class="card-title">Mollit officia do voluptate ex esse.</p>
                            <p class="card-text">Voluptate esse officia tempor laboris. Laborum deserunt exercitation et ullamco elit do sit duis in. Ex cupidatat ad cupidatat aute exercitation minim 
                                                    tempor eiusmod laborum commodo magna. Laboris incididunt est id culpa ea. Anim deserunt reprehenderit amet fugiat ut consequat non non eu sunt occaecat 
                                                    sint nulla. Minim labore anim magna dolore. Ea irure anim sit veniam ad. Incididunt deserunt do deserunt laborum dolore sint duis aute proident nisi 
                                                    cupidatat exercitation. Elit officia laboris id eu culpa aute sit laborum.</p>
                            <button class="btn btn-primary">boton</button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3">
                    <div class="card text-center my-3 shadow p-3">
                        <h1 class="card-header text-bg-danger mb-3 ">HOla 4</h1>
                        <div class="card-body">
                            <p class="card-title">Mollit officia do voluptate ex esse.</p>
                            <p class="card-text">Voluptate esse officia tempor laboris. Laborum deserunt exercitation et ullamco elit do sit duis in. Ex cupidatat ad cupidatat aute exercitation minim 
                                                    tempor eiusmod laborum commodo magna. Laboris incididunt est id culpa ea. Anim deserunt reprehenderit amet fugiat ut consequat non non eu sunt occaecat 
                                                    sint nulla. Minim labore anim magna dolore. Ea irure anim sit veniam ad. Incididunt deserunt do deserunt laborum dolore sint duis aute proident nisi 
                                                    cupidatat exercitation. Elit officia laboris id eu culpa aute sit laborum.</p>
                            <button class="btn btn-primary">boton</button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3">
                    <div class="card text-center my-3 shadow p-3">
                        <h1 class="card-header text-bg-danger mb-3 ">HOla 5</h1>
                        <div class="card-body">
                            <p class="card-title">Mollit officia do voluptate ex esse.</p>
                            <p class="card-text">Voluptate esse officia tempor laboris. Laborum deserunt exercitation et ullamco elit do sit duis in. Ex cupidatat ad cupidatat aute exercitation minim 
                                                    tempor eiusmod laborum commodo magna. Laboris incididunt est id culpa ea. Anim deserunt reprehenderit amet fugiat ut consequat non non eu sunt occaecat 
                                                    sint nulla. Minim labore anim magna dolore. Ea irure anim sit veniam ad. Incididunt deserunt do deserunt laborum dolore sint duis aute proident nisi 
                                                    cupidatat exercitation. Elit officia laboris id eu culpa aute sit laborum.</p>
                            <button class="btn btn-primary">boton</button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3">
                    <div class="card text-center my-3 shadow p-3">
                        <h1 class="card-header text-bg-danger mb-3 ">HOla 6</h1>
                        <div class="card-body">
                            <p class="card-title">Mollit officia do voluptate ex esse.</p>
                            <p class="card-text">Voluptate esse officia tempor laboris. Laborum deserunt exercitation et ullamco elit do sit duis in. Ex cupidatat ad cupidatat aute exercitation minim 
                                                    tempor eiusmod laborum commodo magna. Laboris incididunt est id culpa ea. Anim deserunt reprehenderit amet fugiat ut consequat non non eu sunt occaecat 
                                                    sint nulla. Minim labore anim magna dolore. Ea irure anim sit veniam ad. Incididunt deserunt do deserunt laborum dolore sint duis aute proident nisi 
                                                    cupidatat exercitation. Elit officia laboris id eu culpa aute sit laborum.</p>
                            <button class="btn btn-primary">boton</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card text-center my-3 shadow p-3">
                        <h1 class="card-header bg-warning mb-3">Formulario</h1>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="usuario">
                                <input type="password" class="form-control" placeholder="constraseña">
                                <button class="btn btn-success text-center my-2">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="footer bg-success text-bg-danger my-5 rounded">
        <div class="text-center">
        <img src="../img/cuc.png" width="60px" height="50px">
            JUAN JIMENEZ
        </div>
        
    </div>

</body>


<script src="../js/bootstrap.bundle.min.js"></script>

</html>