<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg nav-link">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="active()">
                <span class="navbar-toggler-icon"></span>
                Menu
            </button>
            <a href="./login.html"><img src="../img/logo.webp" width="50" height="60"></a>
        </nav>
    </div>
    
</body>
<script src="../js/bootstrap.bundle.min.js"></script>
</html>