<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container container-fluid my-5">
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-4 shadow p-3 rounded">
                <div class="card">
                    <div class="card-header text-center text-white bg-dark">
                        <h5>Login</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group container-fluid">
                                <div class="text-center">
                                    <img src="../img/user.png" style="width: 150px;">
                                </div>

                                <input type="text" class="form-control my-1" placeholder="username" name="username" id="username">
                                <input type="password" class="form-control my-1" placeholder="password" name="password" id="password">
                                <div class="text-center my-3">
                                    <a class="btn btn-success center-block" href="./header.html">Login</a>
                                    <a class="btn btn-primary center-block">Registrar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script src="../js/bootstrap.bundle.min.js"></script>
</html>