<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Desarrollo Web</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- dropdown 1 -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Corte 1</a>
              </li>
              <!-- dropdown 2 -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Corte 2</a>
              </li>
              <!-- dropdown 3 -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Corte 3</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <div class="container container-fluid my-5">
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-4 shadow p-3 rounded">
                <div class="card">
                    <div class="card-header text-center text-white bg-dark">
                        <h5>Login <i class="fa fa-lock"></i></h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group container-fluid">
                                <div class="text-center">
                                    <img class="img-fluid img-rounded" src="../img/user.png">
                                </div>

                                <input type="text" class="form-control my-1" placeholder="username" name="username" id="username">
                                <input type="password" class="form-control my-1" placeholder="password" name="password" id="password">
                                <div class="text-center my-3">
                                    <a class="btn btn-success center-block" href="./index.html">Login <i class="fa fa-sign-in"></i> </a>
                                    <a class="btn btn-primary center-block">Registrar <i class="fa fa-plus-square"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script src="../js/bootstrap.bundle.min.js"></script>
</html>